{% extends 'base.html' %}

{% block title %}Регистрация на рейс{% endblock %}

{% block header %}Регистрация на рейс{% endblock %}

{% block content %}
    {% if success_message %}
        <div class="alert alert-success" id="success-alert">
            {{ success_message }}
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Зарегистрироваться</button>
    </form>

    <script>
        // Показываем уведомление, если оно есть
        {% if success_message %}
            document.addEventListener("DOMContentLoaded", function() {
                document.getElementById('success-alert').style.display = 'block';
                // Скрываем уведомление через 3 секунды
                setTimeout(function() {
                    document.getElementById('success-alert').style.display = 'none';
                }, 3000);
            }); 
        {% endif %}
    </script>
{% endblock %}