{% extends 'base.html' %}

{% block title %}Подозрительные пассажиры{% endblock %}

{% block header %}Подозрительные пассажиры{% endblock %}

{% block lead %}Список подозрительных пассажиров по рейсам.{% endblock %}

{% block content %}
    <div class="mt-4">
        <form method="get" class="mb-3">
            <label for="flight-select">Выберите рейс:</label>
            <select id="flight-select" name="flight_id" class="form-control">
                <option value="" disabled selected>Все рейсы</option>
                {% for flight in flights %}
                    <option value="{{ flight.id }}">{{ flight.flight_number }} - {{ flight.destination }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary mt-2">Фильтровать</button>
        </form>

        {% if suspicious_passengers %}
            <h2>Список подозрительных пассажиров</h2>
            <ul class="list-group">
                {% for passenger in suspicious_passengers %}
                    <li class="list-group-item">
                        {{ passenger.first_name }} {{ passenger.last_name }} - Рейс: 
                        {% for registration in passenger.registration_set.all %}
                            {{ registration.flight }} 
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Нет подозрительных пассажиров.</p>
        {% endif %}
    </div>
{% endblock %}